fastapi==0.110.1
uvicorn[standard]==0.29.0
firebase-admin==6.8.0
redis==6.1.0
python-multipart==0.0.9
pydantic-settings==2.7.1
pandas==2.2.3
anthropic==0.51.0
mistralai==1.7.0
stripe==12.1.0
SQLAlchemy==2.0.41
psycopg2-binary
numpy
aiofiles
openai
anthropic
instructor
python-dotenv
requests
jsonref